#mlb {
	color: #22257D
}

body, html {
  font-family: 'Cormorant Garamond', serif;
  height: 100%;
}

* {
	box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/trees.jpg");


  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: center;
  margin: 10% 1;
  width: auto;
}

/* The navbar */
.mynav {
  overflow: hidden;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Navbar links */
.mynav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  margin: 40px;
  display:inline-block;
}

.mynav li {
    display:inline-block;
}
.mynav a:hover {
  color: #aab1aa;
  font-weight: 700;
  text-decoration:underline;
}
